/*selector universal*/
*{
    box-sizing: border-box;
}

#body{
    width: 900px;
    height: 1200px;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #d49e23;
    margin: 15px auto;
}

#header{
    background-color: #d9bd1f;
    height: 25%;
}
.encabezado{
  
    border-radius: 1em 1em 1em 1em ;
    padding: 50px;
   
    text-align: center;
}
#menu{
    background-color: #713505;
  height: 5%;

}
#seccion1{
    background-color: #b01a1c;
    height: 40%;
    border: 2px ;
    

}
#seccion2{
     height: 40%;
    background-color: #dcc43c;
    border: 2px;
    

    
}
#pie{
    background-color: #744607;
    height: 10%;
}
.barraNavegacion{
    display: flex;
    flex-direction: row;
    background-color:rgb(60, 151, 41) ;
    text-align: center;
}
nav a{
    color:black;
    padding: 14px 20px;
    text-align: center;
}
.a{
    text-align: center;
}
.row{
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    height: 80%;
    
}


#pie{
    height: 10%;
   
}
.pieNavegacion{
    border-radius: 0 1em 1em 1em;
    padding: 20px;
    text-align: center;
    background-color: rgb(239, 200, 149);

}
.texto1{
    background-color: rgb(188, 247, 112);
    text-align: justify;
    float: left;
    width: 30%;
    font-size: xx-small;  
    
}
.texto2{
    background-color: rgb(96, 148, 28);
    text-align: justify;
    float: right;
    
    width: 30%;
    font-size: xx-small;
    
}
.titulo1{
    text-align: left;
    color: black;
    background-color:#b01a1c;
}
.titulo2{
 color: black;
 background-color: #b01a1c;
    text-align: right;
}
.img{
    height: 100px;
    width: 100px;
    margin-left: 5em;
    margin-right: 5em;

}
#imagenes{
    border-image: 1px solid;
    margin-left: 5px ;
    margin-right: 5px;
    margin-top: 5px;
    
    float: right;
}
#imagenes2{
    border-image: 1px solid;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    margin-top: 5px;
    
}
ul{
    list-style-type: square;
    
}
li{
    background-color: rgb(231, 243, 57);
}
